{% extends "base.html" %}
{% load i18n %}
{% block content %}
<ul id="content">
  {% if request.user.is_authenticated %}
    {% for task in tasks %}
      <li class="content__header">
        <div class="content__header-unit content__header-checkbox">
          <input id="checkbox_id" type="checkbox" name="checkbox">
{#          <label for="checkbox_id"></label>#}
        </div>
        <div class="content__header-unit content__header-title">
          <p>task.title</p>
        </div>
        <div class="content__header-unit content__header-responsible">
          <p>task.responsible</p>
        </div>
        <div class="content__header-unit content__header-date_from">
          <p>task.date_from</p>
        </div>
        <div class="content__header-unit content__header-date_to">
          <p>task.date_to</p>
        </div>
        <div class="content__header-unit content__header-status">
          <p>task.status</p>
        </div>
      </li>
    {% endfor %}
  {% endif %}
</ul>
{% endblock content %}