html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font: normal 95% Georgia, serif, Arial;
  background: #FFFFFF;
  color: #000000;
}

p {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

h1 {
  font: normal 150% Georgia, serif;
  color: #000000;
  text-shadow: 1px 1px #bbb;
  letter-spacing: -1px;
  margin: 0 0 10px 0;
  padding: 5px 0 0 0;
}

a, a:hover {
  background: transparent;
  outline: none;
  text-decoration: none;
  color: #CC9933;
}

a:hover {
  color: #000000;
  transition-property: color, background-color;
  transition-duration:  0.5s;
  transition-timing-function: ease;
}

ul {
  list-style: none;
}

li {
  margin: 0;
  list-style: none;
}

.container-xl {
  padding: 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header, #site_content {
  padding: 5px 20px 5px 20px;
  margin-left: auto;
  margin-right: auto;
}

#main {
  background: #FFFFFF;
}

.header {
  border-bottom: 1px solid grey;
  background: transparent;
}

.header_container {
  border: 1px solid grey;
}

.header__name {
  line-height: 1em;
  margin-right: 5px;
}

#filter {
  width: 100%;
  font-size: 16px;
  padding: 12px 30px 0 30px;
}

#id_title, #id_task_filter, #id_descr {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  height: 40px;
  autocomplete: off;
}

.search_label_icon {
  margin-right: 5px;
}

.form_filter {
  border: #000000;
}

.container {
  border: 1px solid grey;
  border-top: none;
  border-bottom: none;
}

#site_content {
  background: #FFFFFF;
}

.content__header {
  border-bottom: 1px solid grey;
}

.content__header-row {
  border-bottom: 1px solid grey;
}

.content__header-unit {
  justify-content: center;
  height: 40px;
  overflow: hidden;
  padding: 7px;
  border-right: 1px solid black;
}

.content__header-title {
  font-weight: bold;
}

.content__header-checkbox {
  border-right: none;
  width: 2%;
}

#text {
  display: inline-block;
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__header-name {
   justify-content: start;
  border-left: 1px solid black;
  width: 35%;
}

.content__header-responsible {
  width: 17%;
}

.content__header-date_from {
  width: 13%;
}

.content__header-date_to {
  width: 13%;
}

.content__header-status {
  width: 20%;
  border-right: none;
}
#text_content {
  width: 500px;
  padding: 0; 
  margin: 0 40px 0 20px;
}

.task_container {
  padding: 20px;
  border-bottom: 1px solid grey;
}

.form_title {
  margin: 0;
  margin-bottom: 10px;
}

.form_task {
  width: 100%;
}

.form_text {
  display: flex;
  margin: 0;
  margin-bottom: 20px;
}

.form_text-span {
  width: 150px;
  margin-right: 10px;
}

.task_title {
  width: 100px;
  margin-right: 30px;
}

.task_text {
  font-weight: bold;
  font-size: large;
}

.comments {
  margin-bottom: 20px;
}

.comment {
  height: 70px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid grey;
}

.add_comment {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid grey;
}

.form_text_comment {
  font-style: italic;
  color: grey;
  font-size: small;
  margin: 0;
  margin-bottom: 5px;
}

#close {
    width: 30px;
    height: 30px;
}

.is-published {
  display: none;
  transition: outline .5s ease;
}

.is-active {
  display: block;
  opacity: 0.7;
  position: relative;
  width: 300px;
  height: 180px;
  padding: 20px;
  margin-bottom: 10px;
  background: #bbbbbb;
  transition: transform .5s;
  transform: none;
}

.is-active-dropdown {
  display: flex;
  align-items: start;
  justify-content: space-between;
  position: relative;
  top: -5px;
  left: 63px;
  width: 93%;
    height: 180px;
  padding: 20px;
  background: #C0C0C0;
  transition: transform .5s;
  transform: none;
}

.filter_dropdown-header {
    width: 100%;
}

.btn {
  background-color: transparent;
  cursor: pointer;
  padding: 10px 10px;
  font-size: 16px;
  line-height: 15px;
  color: #CC9933;
  border: 1px solid #CC9933;
  border-radius: 5px;
  transition-property: color, background-color;
  transition-duration:  0.5s;
  transition-timing-function: ease;
}

.btn:focus, .btn:hover {
  outline: none;
  font-weight: normal;
  color: #FFFFFF;
  background-color: #CC9933;
}

.btn:active {
  font-weight: normal;
  color: #FFFFFF;
  background-color: #A47312;
}

.task_btn {
  margin-right: 10px;
}

.custom_select {
  background-color: #A47312;
  border-radius: 5px;
  height: 20px;
}
